:root {
  --w: 60rem;
  --yellow: #FFBA00;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  background: #092E41;
  font-family: Avenir, sans-serif;
  color: #B3DBEE;
}

.App {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--w);
  margin: 2rem auto;
  padding: 0 .5rem;
}

.Button {
  background: var(--yellow);
  color: #092E41;
  border: 0;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1rem;
  appearance: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  transition: background-color 375ms ease-in-out;
}

.Button:hover {
  background: #E29C00;
}

.Switch {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.Switch__check {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .75rem;
  border-radius: 50%;
  padding: .125rem;
  border: 2px solid #092E41;
  box-shadow: 0 0 0 2px rgba(226, 156, 0, 0.46);
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
  margin-right: .5rem;
  transition: background 375ms ease-in-out;
}

.Switch__check:checked {
  background-color: var(--yellow);
  background-image: url('./check.svg');
}

.Switch__check:focus { outline: none; }

.Switch__label {
  font-size: .875rem;
  line-height: 1;
}

.Input {
  margin-bottom: 3rem;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.Input__count {
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  padding: .5rem;
}

.Input__label {
  font-size: .75rem;
  letter-spacing: 2px;
  margin-right: .875rem;
  margin-left: .875rem;
  text-transform: uppercase;
}

.Input__area {
  padding: 1.375rem .75rem .75rem .75rem;
  min-height: 12.5rem;
  margin-bottom: 1rem;
  display: block;
  border-radius: .25rem;
  border: 1px solid rgba(30, 184, 235, 0.35);
  resize: none;
  width: 100%;
  font: inherit;
  color: white;
  background: #063651;
  transition: border-color 375ms ease-in-out;
}

.Input__area:focus {
  outline: none;
  border-color: var(--yellow);
  box-shadow: 0 0 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .14);
}

.Input__tray {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.Input__tray__content {
  display: flex;
  align-items: center;
}

.Output {
  font-size: 112.5%;
  width: 100%;
  max-width: 100%;
}

.Output__content {
  padding: 1rem;
  background: linear-gradient(121.68deg, #092E41 0%, #0C6491 93.37%);
  box-shadow: 0 0 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .14);
  position: relative;
}

.Clipboard {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0;
  color: white;
  background-color: #E05557;
  position: absolute;
  top: -.75rem;
  right: -.375rem;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .14);
  transform: scale(1, 1);
  transition: transform 375ms ease-in-out;
}

.Clipboard:hover {
  transform: scale(.875, .875) rotate(-30deg);
}

.__markdown p { margin-bottom: 1rem; }

.__markdown blockquote {
  font-style: italic;
  font-size: 1.125rem;
}

.__markdown ul,
.__markdown ol {
  list-style-position: inside;
  margin-bottom: 1rem;
}

.__markdown li { padding: 0; }

.__markdown blockquote::after {
  content: '';
  display: block;
  background-color: var(--yellow);
  width: 3rem;
  height: 2px;
  margin-bottom: 1rem;
}

.__markdown hr {
  width: 50%;
  margin: 0 auto 1rem;
  background-color: var(--yellow);
  border: 0;
  height: 2px;
}

.__markdown a {
  color: #E05557;
  text-decoration: none;
}

.__markdown a:focus,
.__markdown a:hover {
  opacity: .5;
}

@media only screen and (min-width: 48rem) {
  .App {
    justify-content: space-between;
  }

  .Input,
  .Output {
    width: 49%;
  }

  .Input__area { min-height: 18.75rem; }

  .Input__label {
    font-size: .875rem;
  }

  .Clipboard {
    top: -1rem;
    right: -1rem;
  }
}
