@tailwind base;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.3;
  @apply text-white bg-black;
}

html,
body {
  margin: 0;
  padding: 0;
}

.custom-label input:checked + svg {
  display: block !important;
}

@tailwind utilities;
